.row
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title Работа с документами
        %p
          Принятие документа у работника. Выберите операцию сдачи или выдачи
      .card-action
        =link_to "Выдать", new_entry_path
        %a{:href => "#"} Принять
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title Штрихкодирование
        %p
          Печать штрихкодов
      .card-action
        %a{:href => "#"} Напечатать
        %a{:href => "#"} Список

.row
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title Учет сотрудников
        %p
          Создание и редактирование сотрудников. Получение контактных данных сотрудника
          и его текущих документов
      .card-action
        =link_to "Создать", new_employee_path
        =link_to "Список", employees_path
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title Техпроцессы
        %p
          Добавление и редактирование техпроцессов
      .card-action
        =link_to "Создать", new_document_path
        =link_to "Список", documents_path
.row
  .col.s12.m6
    .card.blue-grey.darken-1
      .card-content.white-text
        %span.card-title Записи журнала
        %p
          Просмотр журнала выдачи документов. Отправка оповещений и продление.
      .card-action
        =link_to "Продлить", prolong_entries_path
        =link_to "Список", entries_path


