.row
  .col.s12.m12
    .card-panel.blue-grey
      %h4.panel-title.white-text.left Список работников
      =link_to new_employee_path, class: "add_link btn-floating waves-effect waves-light blue right" do
        %i.material-icons add
      %table.bordered
        %thead
          %tr
            %th ФИО
            %th Цех
            %th Почтовый ящик
            %th Телефон
            %th
            %th
        %tbody
          -@employees.each do |employee|
            %tr
              %td=employee.name
              %td=employee.department
              %td=employee.email
              %td=employee.phone
              %td
                =link_to edit_employee_path(employee) do
                  %i.material-icons edit
              %td
                =link_to employee_path(employee), method: :delete, data: { confirm: "Точно удалить?" } do
                  %i.material-icons delete
      =paginate @employees
