.row
  .col.s12.m6.offset-m3
    .card-panel.blue-grey.center-align
      %h4.panel-title.white-text Добавить работника
      =simple_form_for @employee do |f|
        .row
          =f.input :name, label: "ФИО", placeholder: "Иванов И.И", wrapper_html: { class: 's12' }
          =f.input :department, label: "Цех", placeholder: "010", wrapper_html: { class: 's12' }
          =f.input :uuid, label: "Табельный №", placeholder: "100053", wrapper_html: { class: 's12' }
          =f.input :email, label: "Почтовый ящик", placeholder: "Ivii@lepse.kirov.ru", wrapper_html: { class: 's12' }
          =f.input :phone, label: "Телефон", placeholder: "1010", wrapper_html: { class: 's12' }
        .row
          =f.button :submit, "Добавить"
