.row
  .col.s12.m12
    .card-panel.blue-grey
      %h4.panel-title.white-text.left Журнал выдачи
      =link_to new_entry_path, class: "add_link btn-floating waves-effect waves-light blue right" do
        %i.material-icons add
      %table.bordered
        %thead
          %tr
            %th Id
            %th № техпроцесса
            %th Работник
            %th Дата возврата
            %th Закрыто?
            %th
            %th
        %tbody
          -@entries.each do |entry|
            %tr
              %td=entry.id
              %td=entry.document.code
              %td=entry.try(:employee).try(:name)
              %td=entry.expired_at.strftime("%d.%m.%Y")
              %td=bool_to_text(entry.closed)
              %td
                =link_to edit_entry_path(entry) do
                  %i.material-icons edit
              %td
                =link_to entry_path(entry), method: :delete, data: { confirm: "Точно удалить?" } do
                  %i.material-icons delete
      =paginate @entries

