var requestId = <%= @request.id %>
var request = $("#request_"+requestId)
var requests_table = $("#requests_table").DataTable()
var row = requests_table.row(request)
if (<%= @request.closed %>) {
  request.find('td:last-child').html("<a class='' title='Отменить' data-remote='true' rel='nofollow' href='requests/"+requestId+"/close'><i class='material-icons grey-text'>replay</i></a>")
} else {
  request.find('td:last-child').html("<a class='' title='Выдать' data-remote='true' rel='nofollow' href='requests/"+requestId+"/close'><i class='material-icons green-text'>send</i></a>")
}
if ( row.child.isShown() ) {
  // This row is already open - close it
  row.child.hide();
  request.find(".details_link").html("<i class='material-icons'>add</i>")
  request.removeClass('shown');
}
// else {
//   // Open this row
//   row.child( "<%= j render partial: 'requests/details_table' %>" ).show();
//   request.find(".details_link").html("<i class='material-icons'>remove</i>")
//   request.addClass('shown');
// }
