.row
  .col.s12.m12
    .card-panel.blue-grey
      .row
        %h4.panel-title.white-text.left Журнал заявок
      .row
        %table#requests_table.bordered
          %thead
            %tr.no-border
              %th
              %th
              %th ID
              %th Работник
              %th Дата создания
              %th Закрыто?
              %th


