.row.document
  =simple_fields_for 'documents[]', Document.new do |d|
    =d.input :code, label: '№ Техпроцесса', wrapper_html: { class: 's6' }
    =d.input :barcode, label: 'Штрихкод', wrapper_html: { class: 's6' }
