.row
  .col.s12.m6.offset-m3
    .card-panel.blue-grey.center-align
      %h4.panel-title.white-text Редактировать техпроцесс
      =simple_form_for @document do |f|
        .row
          =f.input :code, label: '№ Техпроцесса', wrapper_html: { class: 's12' }
        .row
          =f.input :barcode, label: 'Штрихкод', wrapper_html: { class: 's12' }
        =f.button :submit, 'Обновить'
