.row
  .col.s12.m8.offset-m2
    #documents_form.card-panel.blue-grey.center-align
      %h5.white-text.form-title Редактировать техпроцесс
      =simple_form_for @document do |f|
        .row
          =f.input :code, label: '№ Техпроцесса', wrapper_html: { class: 's12' }
        .row
          =f.input :barcode, label: 'Штрихкод', wrapper_html: { class: 's12' }
        =f.button :submit, 'Обновить'
