.row
  .col.s12.m12
    .card-panel.blue-grey
      %h4.panel-title.white-text.left Список техпроцессов
      =link_to new_document_path, class: "add_link btn-floating waves-effect waves-light blue right" do
        %i.material-icons add
      %table.bordered
        %thead
          %tr
            %th Id
            %th № Техпроцесса
            %th Штрихкод
            %th
            %th
            %th
        %tbody
          -@documents.each do |document|
            %tr
              %td=document.id
              %td=document.code
              %td.barcode
                =document.html_barcode.to_html.html_safe if document.html_barcode
              %td
                =link_to reprint_document_path(document), method: :post, remote: true do
                  %i.material-icons local_printshop
              %td
                =link_to edit_document_path(document) do
                  %i.material-icons edit
              %td
                =link_to document_path(document), method: :delete, data: { confirm: "Точно удалить?" } do
                  %i.material-icons delete
      =paginate @documents
