.row
  .col.s12.m12
    .card-panel.blue-grey
      %h4.panel-title.white-text.left Список штрихкодов
      =link_to new_barcode_path, class: "add_link btn-floating waves-effect waves-light blue right" do
        %i.material-icons add
      %table.bordered
        %thead
          %tr
            %th Id
            %th Код
            %th Штрихкод
        %tbody
          -@barcodes.each do |barcode|
            %tr
              %td=barcode.id
              %td=barcode.barcode
              %td.barcode
                =raw(barcode.barcode_view.to_html) if barcode.barcode_view
      =paginate @barcodes
