.row
  .col.s12.m6.offset-m3
    #documents_form.card-panel.blue-grey.center-align
      %h4.panel-title.white-text Напечатать штрихкоды

      = form_tag '/barcodes', method: :post do
        .row
          = label_tag 'Выберите количество'
          %p.range-field
            = range_field_tag :quantity, 2, max: 100, min: 1
        .row
        = submit_tag "Печать", class: 'btn'
