nav .brand-title {
  font-size: 1.8rem;
  margin-left: 100px;
}
nav .brand-logo img{
  margin-left: 5px;
  height: 64px;
  padding: 5px;
}
.card {
  .card-title {
    font-size: 20px;
    text-transform: uppercase;
  }
}
