%footer.page-footer.blue
  .container
    .row
      .col.s12.m12.l6
  .footer-copyright
    .container
      АО "ЛЕПСЕ" УИТ v 0.1.0
      %a.grey-text.text-lighten-4.right{:href => "mailto:okatav@lepse.kirov.ru"} Написать разработчику
