%footer.page-footer.blue
  .container
    .row
      .col.s12.m12.l6
  .footer-copyright
    .container
      © 2016 АО "ЛЕПСЕ""
      %a.grey-text.text-lighten-4.right{:href => "mailto:okatav@lepse.kirov.ru"} Написать разработчику
